@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
section{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #121321;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
section::before{
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transform: translate(-150px, -100px);
    background: linear-gradient(90deg,#9c27b0,#f3f5f5);
}
section::after{
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transform: translate(150px,100px);
    background: linear-gradient(90deg,#9c27b0,#f3f5f5);
}
.con{
    position: relative;
    height: 225px;
    width: 375px;
    z-index: 1;
    transition: 0.6s;
    transform-style: preserve-3d;
}
.con:hover{
    transform: rotateY(180deg);
}
.con .card{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 25px;
    backdrop-filter: blur(30px);
    border-radius: 25px;
    background-color: rgba(255,255,255,0.1);
    box-shadow:0 25 45 rgba();
    border: 1px solid rgba(255,255,255,0.1);
    backface-visibility: hidden;
}
.front header,
.front .logo{
    display: flex;
    align-items: cenetr;
}
.front header{
    justify-content: space-between;
}
.front .logo img{
    width: 48px;
    margin-right: 10px;
}
h5{
    font-size: 16px;
    font-weight: 400;
}
.front .chip{
    width: 50px;
}

.front .card-details{
    display: flex;
    margin-top: 40px;
    align-items: flex-end;
    justify-content: space-between;
}
h6{
    font-size: 10px;
    font-weight: 400;
}
h5.number{
    font-size: 18px;
    letter-spacing: 1px;
}
h5.name{
    margin-top: 20px;
}
.card.back{
    border: none;
    padding: 15px 25px 25px 25px;
    transform: rotateY(180deg);
}
.card.back h6{
    font-size: 8px;
}
.card.back .strip{
    position: absolute;
    top: 40px;
    left: 0;
    height: 45px;
    width: 100%;
    background-color: black;
}
.card.back .sig{
    margin-top: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    height: 45px;
    border-radius: 8px;
    background-color: #fff;
}
.sig i{
    color: black;
    font-size: 12px;
    border-radius: 4px;
    padding: 4px 6px;
    background-color: #fff;
    margin-right: -30px;
    z-index: -1;
}
.card.back h5{
    font-size: 8px;
    margin-top: 15px;
}