*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.con{
    background-color: lightblue;
    min-height: 100vh;
    width: 100vw;
    border: 10px solid black;
}
.top{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.h1{
    font-size: 50px;
    padding-right: 35px;
}
h4{
    font-size: 30px;
    padding-right: 34px;
    text-align: end;
}
.content{
    width: 900px;
    margin: 0 auto;
}
.imagee{
    border-radius: 50%;
    overflow: hidden;
}
.imagee, img{
    /* width: 300px; */
    height: 199px;
}
.about{
    margin-top: 50px;
    text-align: justify;
}
.about h2{
    font-size: 50px;
    margin-bottom: 30px;
}
.about p{
    font-size: 30px;
}
.bio{
    margin: 50px 10px;
}
.bio h2{
    margin-bottom: 20px;
}
.bio ul{
    margin-left: 60px;
}
.bio li{
    font-size: 17px;
    margin-bottom: 10px;
}
footer{
    margin: 25px 0px;
}
footer p{
    text-align: end;
}